<form [formGroup]="empForm" (ngSubmit)="onSubmit()">
    <div formArrayName="employees">
        <div *ngFor="let employee of employees().controls; let empIndex=index">
            <div [formGroupName]="empIndex" style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;">
                {{empIndex}}
                First Name :
                <input type="text" formControlName="firstName">
                Last Name:
                <input type="text" formControlName="lastName">
         
                <button (click)="removeEmployee(empIndex)">Remove</button>
                <div formArrayName="skills">
                    <div *ngFor="let skill of employeeSkills(empIndex).controls; let skillIndex=index">
                        <div [formGroupName]="skillIndex">
                            {{skillIndex}}
                            Skill :
                            <input type="text" formControlName="skill">
                            Exp:
                            <input type="text" formControlName="exp">
               
                            <button (click)="removeEmployeeSkill(empIndex,skillIndex)">Remove</button>
               
                        </div>
                    </div>
                    <button type="button" (click)="addEmployeeSkill(empIndex)">Add Skill</button>
                </div>
            </div>
        </div>
        <button type="button" (click)="addEmployee()">Add Employee</button>
        <button type="submit">Submit</button>
    </div>
</form>


<form *ngIf="showForm" [formGroup]="dataForm" (ngSubmit)="onSubmitDataForm()">
    <div formArrayName="firstLevelData">
        <div *ngFor="let data of firstLevelData().controls; let firstLevelDataIndex=index">
            {{dataName[firstLevelDataIndex]}}: 
            <div [formGroupName]="firstLevelDataIndex" style="border: 1px solid blue; padding: 3px; width: 200px; margin: 5px;">
                <div *ngIf="firstLevel[firstLevelDataIndex]==1">
                    <input [type]="dataType[firstLevelDataIndex]" [formControlName]="dataName[firstLevelDataIndex]">
                </div>
                <div formArrayName="secondLevelData">
                    <div *ngFor="let secondData of secondLevelData(firstLevelDataIndex).controls; let secondLevelDataIndex=index">
                        <div [formGroupName]="secondLevelDataIndex">
                            <div *ngIf="firstLevel[firstLevelDataIndex]==0">
                                <input  formControlName="prova">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
 
