<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.sitael.com/space/small-satellites/systems/minisat-platino/" class="navbar-brand">
            Platino</a></div>

        <ul class="navbar-nav">
            <li><a routerLink="" class="nav-link">Data input</a></li>
            <li><a routerLink="/chart" class="nav-link">Data Visualization</a></li>
            <li><a routerLink="/db" class="nav-link">DB Manager</a></li>
        </ul>
    </nav>
</header>