<div >
  <form [formGroup]="form" (ngSubmit)="!form.invalid && onSubmit()">
    <formly-form [form]="form" [fields]="selectFields" [model]="sat_model" (modelChange)="change($event)"></formly-form>
    <mat-tab-group *ngIf="tabs.length>0">
      <mat-tab *ngFor="let tab of tabs" [label]="tab">
        <formly-form [form]="form" [fields]="fields[tab]" [model]="sat_model"></formly-form>
      </mat-tab>
    </mat-tab-group>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<!-- <div  >
    <form [formGroup]="newForm" >
        <formly-form [form]="newForm" [fields]="formConf" ></formly-form>
      </form>
</div> -->


