<h1>DB Manager</h1>
<mat-form-field appearance="fill">
    <mat-label>Entity</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="ngOnInit()">
        <mat-option value="prova">Prova</mat-option>
        <mat-option value="parameters">Parameters</mat-option>
    </mat-select>
  </mat-form-field>
  
<div>
    <div *ngIf="displayedColumns">
        <app-my-table [dataSource]="dataSource" (newItemEvent)="deleteEntry($event)" [displayedColumns]="displayedColumns"></app-my-table>
    </div>

    <form [formGroup]="provaForm" (ngSubmit)="!provaForm.invalid && onSubmit()">
        <formly-form [form]="provaForm" [model]="provaModel" [fields]="provaFields"></formly-form>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
